name: PyPI Publish
on:
  push:
    tags:
      - v*
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

permissions: {}

jobs:
  pypi:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    environment:
      name: pypi
      url: https://pypi.org/p/unityyamlnormalize
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
        ref: ${{ inputs.tag || github.ref }}
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.11"
    - name: Install build dependencies
      run: pip install build
    - name: Build package
      run: python -m build
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
