name: tagpr
on:
  push:
    branches: ["main"]

permissions: {}

jobs:
  tagpr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: read
    outputs:
      tag: ${{ steps.tagpr.outputs.tag }}
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - uses: Songmu/tagpr@fa7d23a4aada5ab0d15a76277a7e0b70d107a9c3 # v1.11.1
      id: tagpr
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    needs: tagpr
    if: needs.tagpr.outputs.tag != ''
    permissions:
      contents: read
    uses: ./.github/workflows/publish.yml
    with:
      tag: ${{ needs.tagpr.outputs.tag }}
    
